/*

font-family: 'Raleway', sans-serif; 100,300,400,500,700 (app name)

font-family: 'Roboto', sans-serif; 100,300,400,500,700

font-family: 'Lato', sans-serif; 100,300,400,700

#46b8da

*/

/*********************************
          GENERAL STYLES
*********************************/

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'MeteoconsRegular';
  src: url('../icons/meteocons-font/FONT/Font-face/meteocons-webfont.eot');
  src: url('../icons/meteocons-font/FONT/Font-face/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
       url('../icons/meteocons-font/FONT/Font-face/meteocons-webfont.woff') format('woff'),
       url('../icons/meteocons-font/FONT/Font-face/meteocons-webfont.ttf') format('truetype'),
       url('../icons/meteocons-font/FONT/Font-face/meteocons-webfont.svg#MeteoconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*********************************
          OVERIDE STYLES
*********************************/

input {
  border-radius: 10px;
  text-align: center;
}

button {
  border-radius: 0 !important;
}

.nav-icons {
  cursor: pointer;
  color: #333;
  padding-right: 1em;
}

.icon-hover:hover {
  color: #4099FF;
}
.app-img {
  max-width: 250px;
  max-height: 350px;
  float: left;
  margin: 1%;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.app-img:hover {
  opacity: 0.5;
}

/* Overide the background color change of input fields*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}



/*********************************
            LOGIN PAGE
*********************************/

.login {
  margin-top: 7%;
  text-align: center;
}

.login-box {
  background-color: #fff;
  padding-top: .1em;
  padding-bottom: 2em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 4px solid #a09999;
}

.rainjacket-login {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500 !important;
  margin-top: .7em;
  margin-bottom: .7em;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.login-h2 {
  font-weight: 300;
  margin-top: 1em;
}

.login-input {
  margin-top: 3%;
  height: 2.4em;
  font-family: 'Lato';
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: 2px;
}

.login-btn-div {
  margin-top: 10%;
}

.register-btn-div {
  margin-top: 3%;
}

.login-btn {
  font-family: 'Lato';
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.9em;
  background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
  border: none;
}


.register-btn {
  font-family: 'Lato';
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.9em;
  background-image: linear-gradient(#5bc0de 50%, #4caecc 50%);
}



/*********************************
            SEARCH PAGE
*********************************/

.rainjacket-header {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 500 !important;
  margin-top: .7em;
  font-size: 2.5em;
  padding-left: 1.3em;
  letter-spacing: 1px;
}

.right-header {
  margin-top: 2.2em;
  padding-right: 2em;
  cursor: pointer;
}

.glyphicon-log-out {
  padding: 7px;
  width: 60px;
  font-size: 1.9em;
  cursor: pointer;
}

.form-headline {
  padding-top: 4em;
  padding-bottom: 1.5em;
}

.form-headline-text {
  font-weight: 300 !important;
}

.form-inputs {
  height: 2em;
  font-size: 2em;
  border-radius: 6px;
  font-weight: 100;
}

.form-labels {
  font-size: 2em;
  font-weight: 100;
}

.placeholder-slideout:focus::-webkit-input-placeholder {
  transition: text-indent .50s .50s ease-in-out;
  text-indent: -400%;
  opacity: 1;
}

.show-styles-btn-div {
  text-align: center;
}

.show-styles-btn {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.8em;
  letter-spacing: 6px;
  text-indent: 5px;
  border: none;
  width: 350px;
  height: 57px;
  background-image: linear-gradient(#3498DB 50%, #2980B9 50%);
}



/*********************************
          POPULATE PAGE
*********************************/



.weather-row {
  margin-top: 2em;
  margin-bottom: 3em;
}

.weather-col-left {
  background-color: black;
  color: white;
  height: 225px;
  width: 270px;
}

.temp {
  font-weight: 100 !important;
  font-size: 8em;
  text-indent: 34px;
  height: 130px;
  padding-top: 7px;
}

.city {
  font-size: 3em;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 3px;
  font-weight: 100;
}

.weather-col-right {
  height: 225px;
  background-color: #4099FF
}

.icon-weather {
  font-family: 'MeteoconsRegular';
  font-size: 11em;
  text-align: center;
  color: #fff;
}


/*===== Spotlight styles =====*/

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.92);
  overflow: scroll;
  z-index: 1000;
}

.spotlight .row {
  margin-top: 150px;
}

.spotlight .content-card {
  text-align: center;
}

.modal-header-upload {
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  color: white;
  letter-spacing: 0.3em;
}

/* X Icon */
.parent {
  position: relative;
  display: inline-block;
}

.icon-spotlight {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 4em;
  color: #fff;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 100 !important;
  padding-top: .5em;
}

.btn-browse-container {
  padding-top: 1.5em;
}

.btn-upload-container {
  padding-top: 1.4em;
}

.btn-browse {
  width: 200px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
  font-size: 25px;
  background-image: linear-gradient(#55e487 50%, #23CF5F 50%);
  color: #fff;
  letter-spacing: 2px;
  border: none;
}

.btn-browse:hover {
  color: #fff;
}

.btn-upload {
  width: 200px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
  font-size: 25px;
  background-image: linear-gradient(#5bc0de 50%, #4caecc 50%);
  letter-spacing: 2px;
  border: none;
}



/*********************************
          PROFILE PAGE
*********************************/

.profile-header {
  text-align: center;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 1em;
  margin-bottom: 1.5em;
}

.profile-temp {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.profile-event {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.profile-card-delete-btn {
  text-align: center;
  font-size: 2.5em;
  font-weight: 100;
  background-image: linear-gradient(#b1afaf 50%, #a2a0a0 50%);
  color: white;
  width: 50px;
  border-radius: 70px;
  margin-left: 96px;
  cursor: pointer;
}

.profile-card-delete-btn:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(#E74C3C 50%, #C0392B 50%);
}

.app-img-profile {
  max-width: 250px;
  max-height: 350px;
  float: left;
  margin: 1%;
  margin-bottom: 10px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.app-img-profile:hover {
  opacity: 0.5;
}

.card-divider {
  margin-bottom: 30px;
}

.profile-bottom {
  margin-top: 20px;
}
