<div class="container-fluid search-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="rainjacket-header">RainJacket</h1>
    </div>
    <div class="col-sm-6">
      <div class="right-header text-right">
        <i ng-click="search.logout()" class="fa fa-sign-out fa-2x icon-profile icon-hover nav-icons" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="row form-headline">
    <div class="col-sm-12">
      <h2 class="text-center form-headline-text">Tell us a little about yourself...</h2>
    </div>
  </div>

  <!-- FORM -->
  <form name="form" class="form-horizontal form" ng-submit="search.submit(search)">

    <!-- GENDER -->
    <div class="form-group row">
      <label class="col-md-4 control-label form-labels" for="gender">I'm a</label>
      <div class="col-md-4">
        <select
          ng-model="search.gender"
          name="gender"
          class="form-control form-control-lg form-inputs"
          placeholder="zipcode"
        >
          <option value="male">Gentleman</option>
          <option value="female">Lady</option>
        </select>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- EVENT -->
    <div class="form-group row">
      <label class="col-md-4 control-label form-labels" for="event">attending a</label>
      <div class="col-md-4">
        <select
          ng-model="search.event"
          name="event"
          class="form-control form-control-lg form-inputs"
          placeholder="zipcode"
        >
          <option value="festival">festival</option>
          <option value="dinner date">dinner date</option>
        </select>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- ZIPCODE -->
    <div class="form-group row">
      <label class="col-md-4 control-label form-labels" for="zipcode">in</label>
      <div class="col-md-4">
        <input
          ng-model="search.zipcode"
          name="zipcode"
          type="text"
          placeholder="zipcode"
          pattern="[0-9]{5}"
          value=""
          class="form-control form-control-lg form-inputs placeholder-slideout"
          required=""
        >
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- SHOW STYLES -->
    <div class="form-group show-styles-btn-div">
      <label class="col-md-2 control-label" for="showStyles"></label>
      <div class="col-md-8">
        <button
          type="submit"
          name="showStyles"
          class="btn btn-primary btn-lg text-center show-styles-btn"
        >
          Show Styles
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>

  </form>

</div>





<!-- Code below to bring back other weather underground icons and data if needed -->
<!-- <div>{{search.currentTemp}}</div>
<img ng-src="{{search.weatherIcon}}" alt="">
<img ng-src="{{search.WUGpng}}" alt=""> -->
