<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="rainjacket-header">RainJacket</h1>
    </div>
    <div class="col-sm-6">
      <div class="right-header text-right">
        <a href="#/profile-page" title="Your Profile">
          <i
            class="fa fa-user fa-2x icon-profile icon-hover nav-icons"
            aria-hidden="true">
          </i>
        </a>
        <i class="fa fa-picture-o fa-2x icon-hover nav-icons" title="Upload Your Style" aria-hidden="true" ng-click="populate.setSpotlight(true)"></i>
        <a href="{{populate.wuURL}}" title="Current Weather" class="umbrella-link"><i class="fa fa-umbrella fa-2x nav-icons icon-hover" aria-hidden="true"></i></a>
        <i ng-click="populate.logout()" class="fa fa-sign-out fa-2x icon-profile icon-hover nav-icons" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <!-- Weather icon/temp and upload button -->
  <div class="row weather-row">
    <div class="col-sm-3 umbrella-icon">
      <!-- <a class="umbrella-link" href="{{populate.wuURL}}"><i class="fa fa-umbrella" aria-hidden="true"></i></a> -->
    </div>

    <div class="col-sm-3 text-center booord weather-col-left">
      <div class="">
        <div class="temp">
          {{populate.temp}}°
          </div>
        <div class="city">
          {{populate.city}}
          </div>
      </div>
    </div>

    <div class="col-sm-3 booord weather-col-right">
      <div class="">
        <div class="icon-weather">
          {{populate.weatherIcon}}
        </div>
      </div>
    </div>

    <div class="col-sm-3 text-right upload-styles-icon">
      <!-- <i class="fa fa-picture-o upload-styles-link" aria-hidden="true" ng-click="populate.setSpotlight(true)"></i> -->
    </div>

  </div>



  <!-- Images, Images and more Images -->
  <div class="row">
    <div class="col-sm-12 ng-cloak">
      <!-- User uploaded photos from images/ folder in firebase -->
      <!-- <img class="img app-img" ng-repeat="url in populate.photoURLs" ng-src="{{url}}"> -->
      <!-- Preloaded images from images/ folder in firebase -->
      <img class="img app-img" ng-repeat="staticImages in populate.photos" ng-src="{{staticImages.img}}">
    </div>
  </div>

<!-- Upload Your Style Modal -->
  <div class="spotlight" ng-show="populate.spotlight">
    <div class="container">
      <!-- <div class="row"> -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 parent">
          <span ng-click="populate.setSpotlight(false)" style="color: white;" class="icon-spotlight" aria-hidden="true">X</span>
        </div>
      <!-- </div> -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="content-card">
            <div class="card-header">
              <h2 class="modal-header-upload">Upload Your Style!</h2>
            </div>
            <!-- button for upload images -->
            <form class="form-horizontal" ng-submit="populate.upload()">
              <div class="btn-browse-container">
                <!-- <p style="color: white;">1. -->
                <label class="btn btn-default btn-file btn-browse">
                  Browse<input type="file"  style="display: none;" ng-model="populate.file" > <!-- style="display: none;" -->
                </label>
                <!-- </p> -->
              </div>
              <div class="btn-upload-container">
                <!-- <p style="color: white;">2. -->
                <label class="btn btn-info btn-upload">
                  Upload<input type="submit" style="display: none;" value="Upload" />
                </label>
                <!-- </p> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->


<!--

• take away inline styles
• decide which number placement is better
• style the nav and profile icon
• style the weather box with the temp and icon
• style and position the upload style btn

 -->



