<div class="container">

<h1>RainJacket</h1>

<div>{{search.currentTemp}}</div>
<img ng-src="{{search.weatherIcon}}" alt="">
<img ng-src="{{search.WUGpng}}" alt="">

<div>
  <button ng-click="search.logout()" value="Login">
    <span class="glyphicon glyphicon-log-out"></span>
  </button>
</div>



<!-- FORM -->
<!-- <form name="form" class="form-horizontal" ng-submit="search.zipcodeInput(search.zipcode)"> -->
<form name="form" class="form-horizontal" ng-submit="search.submit(search)">

  <!-- Form Name -->
  <legend>Tell us a little about yourself</legend>

  <!-- Gender dropdown -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="gender">I'm a</label>
    <div class="col-md-8">
      <select ng-model="search.gender" id="genderDropdown" name="gender" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>

  <!-- Event dropdown -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="event">attending a</label>
    <div class="col-md-8">
      <select ng-model="search.event" id="eventDropdown" name="event" class="form-control">
        <option value="festival">festival</option>
        <option value="dinner date">dinner date</option>
        <option value="park">park</option>
      </select>
    </div>
  </div>


  <!-- Zipcode input -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="zipcode">in</label>
    <div class="col-md-8">
      <input
        ng-model="search.zipcode"
        id="zipcodeDropdown"
        name="zipcode"
        type="text"
        placeholder="zipcode"
        pattern="[0-9]{5}"
        value=""
        class="form-control input-md"
        required=""
      >
    </div>
  </div>


  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="showStyles"></label>
    <div class="col-md-4">
      <button
        id="showStylesBtn"
        type="submit"
        name="showStyles"
        class="btn btn-primary"
        >
        Show Styles
      </button>
    </div>
  </div>

</form>


<!-- ng-disabled="form.$invalid" was inside the button -->





