<div class="container-fluid">

  <h1>RainJacket</h1>
  <div class="row">
    <div class="col-sm-12 profile-cards">
      <div class="col-sm-3" ng-repeat="(key, data) in profile.data">
        <img class="app-img" ng-src="{{data.img}}" alt="">
        <h3>{{data.temp}}°</h3>
        <h3>{{data.event}}</h3>
        <button ng-click="profile.deleteImage(key, data)" class="btn btn-danger delete-btn">Delete</button>
      </div>
    </div>
  </div>


</div> <!-- end of container-fluid -->


<!-- <div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <h1>RainJacket</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 profile-cards">
      <div ng-repeat="(key, data) in profile.data">
        <img
          class="app-img"
          ng-src="{{data.img}}" alt=""
        >
        <h3>{{data.temp}}°</h3>
        <h3>{{data.event}}</h3>
        <button ng-click="profile.deleteImage(key, data)" class="btn btn-danger delete-btn">Delete</button>
      </div>
    </div>
  </div> -->


<!-- </div> --> <!-- end of container-fluid -->





<!-- Example Card for Profile -->
<!-- <div class="row">
 <div class="col-sm-6 col-md-4">
   <div class="thumbnail">
     <img src="" alt=".">
     <div class="caption">
       <h3>Festival</h3>
       <h3>Ex 75°</h3>
       <div>
         <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
       </div>
     </div>
   </div>
 </div>
</div> -->