<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="rainjacket-header">RainJacket</h1>
    </div>
    <div class="col-sm-6">
      <div class="right-header text-right">
        <i ng-click="profile.logout()" class="fa fa-sign-out fa-2x icon-hover nav-icons" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div col-sm-12>
      <h2 class="profile-header">Your styles</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 profile-cards">
      <div class="col-sm-3 card-divider ng-cloak" ng-repeat="(key, data) in profile.data" ng-animate=" 'animate' ">
          <img class="app-img-profile" ng-src="{{data.img}}" alt="">
          <h3 class="profile-temp">{{data.temp}}°</h3>
          <h3 class="profile-event">{{data.event}}</h3>
          <div class="profile-card-delete-btn">
            <i class="rotate fa fa-trash-o" ng-click="profile.deleteImage(key, data)" aria-hidden="true"></i>
          </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="row profile-bottom">
    <div class="col-sm-12"></div>
  </div>
</div> <!-- end of container-fluid -->
